body{

    font-family: 'Poppins', sans-serif;
    margin: 0;


}

h1{

    font-size: 50px;

}

.name-highlight{

    color: aqua;


}

.top-banner{
    
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}

.link-button{

    text-decoration: none;
    background-color: springgreen;
    background-image: linear-gradient(45deg,lightblue,rgb(255, 199, 126));
    padding: 10px 20px;
    border-radius: 20px;
    color:rgb(199, 64, 64);
    font-weight: 600;
    


}

.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;



}

.half-width img{

    width: 100%;
    margin-top: 5%;
   


}

section{

    height: 500px;
    


}